# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'PHP Getters and Setters': 'php-getters-setters:showUI'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'PHP Getters and Setters'
      'submenu': [
        { 'label': 'generate All', 'command': 'php-getters-setters:allGettersSetter' }
        { 'label': 'generate Getters', 'command': 'php-getters-setters:allGetters' }
        { 'label': 'generate Setters', 'command': 'php-getters-setters:allSetters' }
        { 'label': ' '}
        { 'label': 'open UI', 'command': 'php-getters-setters:showUI' }
      ]
    ]
  }
]
